@import './fonts.css';

:root {
  --color-primary: #333;
  --color-main-background: #f1f1f1;
  --color-secondary: #fadb85;
  --color-icon: #fadb85;
  --color-background: #fff;
  --color-navigation: #ffffffe6;
  --color-footer: #333;
  --color-footer-focus: fff;
  --color-sub-title: #fadb85;
  --color-feature: #333;
  --color-selection: #dabd68;
  --color-cta-background: #333;
  --color-cta-font-color: #f1f1f1;
  --color-photo: #f9fafb;
  --color-hero-gradient: linear-gradient(
    180deg,
    rgba(250, 219, 133, 1) 51%,
    #ffffff 84%
  );
  --font-family-primary: 'Roboto Serif', serif;
  --font-family-secondary: 'Lato', sans-serif;
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  --base-transform-transition: transform 250ms ease-in-out;
}

.dark {
  --color-primary: #f9f7f5;
  --color-secondary: #404040;
  --color-background: #222;
  --color-main-background: #222;
  --color-navigation: #0a0a0a;
  --color-feature: #333;
  --color-footer: #181818;
  --color-cta-background: #fadb85;
  --color-cta-font-color: #333;
  --color-photo: #404040;
  --color-hero-gradient: linear-gradient(180deg, #121212 51%, #282828 84%);
  --shadow-color: 0;
}

html {
  background-color: var(--color-main-background);
}

::selection {
  background-color: var(--color-selection);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
}

a:focus-visible {
  outline: 1px dashed var(--color-primary);
  border-radius: 0.2rem;
}

.cta {
  text-align: center;
  background-color: var(--color-cta-background);
  font-family: var(--font-family-secondary);
  padding: 0.5rem 2.5rem;
  color: var(--color-cta-font-color);
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
