---
import Layout from '../layouts/Layout.astro';
import budapestiporessar_fuzet from '../images/budapestiporessar_fuzet.jpg';
import blob from '../images/blob.svg';
import arrow from '../images/arrow.svg';
---

<Layout title="Por es Sar">
  <section>
    <div class="jumbotron">
      <img src={blob} alt="blob" class="blob" />
      <h1>Por és sár</h1>
      <h2>Az Anti városnéző füzet</h2>
      <p>
        Az antivárosnézés nem csak papíron létezik: gyertek, járjuk be együtt
        Budapest jól ismert helyeit és ismerjétek meg!
      </p>
      <div class="cta-wrapper">
        <button>Tudj meg többet</button>
        <!-- <img src={arrow} /> -->
      </div>
    </div>
    <div class="hero-wrapper">
      <img src={budapestiporessar_fuzet} alt="hero" width="500" height="500" />
    </div>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }

  @media (min-width: 1000px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  .jumbotron {
    position: relative;
    z-index: 0;
    max-width: 500px;
  }

  .blob {
    position: absolute;
    z-index: -1;
  }

  .hero-wrapper {
    border-radius: 2rem;
  }

  .hero-wrapper img {
    object-fit: cover;
    border-radius: 2rem;
    aspect-ratio: 1;
  }

  p {
    font-size: 1.4rem;
    margin-block: 1rem;
    max-width: 35vw;
  }

  .cta-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
  }

  .cta-wrapper img {
    position: absolute;
    right: 0;
    top: -10%;
    max-height: 150px;
    transform: rotate(-35deg);
  }

  button {
    font: unset;
    font-family: 'Lato';
    background: transparent;
    padding: 0.2rem 0.5rem;
    color: #000;
    background-color: #d88518;
    border-radius: 0.2rem;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.25s ease-in;
  }

  button:hover,
  button:focus {
    background-color: #000;
    outline: 2px solid #000;
    color: #d88518;
  }
</style>
