---
import Layout from '../layouts/Layout.astro';
import budapestiporessar_fuzet from '../images/budapestiporessar_fuzet.jpg';
---

<Layout title="Por es Sar">
  <section>
    <div class="jumbotron">
      <h1>Por és sár</h1>
      <h2>Anti városnéző füzet</h2>
    </div>
    <div class="hero-wrapper">
      <img src={budapestiporessar_fuzet} alt="hero" width="500" height="500" />
    </div>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 4rem;
  }

  @media (min-width: 1000px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .hero-wrapper {
    filter: grayscale(1);
    height: 100%;
    max-width: 500px;
    border-radius: 4rem;
  }

  .hero-wrapper img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 2rem;
  }

  blockquote {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.8;
  }
</style>
