---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="contact-form">
    <h1>Kapcsolat</h1>
    <p></p>
  </div>
</Layout>
<style>
  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 2rem;
    width: min(800px, 1440px);
    margin-inline: auto;
  }
</style>
