---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <section class="contact content">
    <article>
      <h2 class="title page-title">Kapcsolat</h2>
      <p class="text"></p>
    </article>
  </section>
</Layout>
<Footer />

<style lang="scss">
  .contact {
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--color-background);
    min-height: 100vh;
    .title {
      font-family: var(--font-family-primary);
      color: var(--color-primary);
      font-size: clamp(2rem, 3rem, 3.5rem);
      text-align: center;
    }

    .sub-title {
      font-family: var(--font-family-primary);
      font-size: clamp(1.3rem, 1.5rem, 2rem);
      text-align: center;
      color: var(--color-primary);
    }

    .text {
      font-family: var(--font-family-secondary);
      font-size: 20px;
      line-height: 1.8;
      max-width: 75ch;
      margin: 4rem auto 4rem;
    }
  }
  @media screen and (min-width: 1000px) {
    .contact {
      padding: 8rem 7rem 0;
    }
  }
</style>
