---
import { Seo } from 'astro-seo-meta';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <Seo
    title="por és sár | Kapcsolat"
    description="My fast astro website"
    icon=""
  />
</head>

<Layout>
  <section class="contact content">
    <article>
      <Title>Kapcsolat</Title>
      <p class="text"></p>
    </article>
  </section>
</Layout>

<style lang="scss">
  .contact {
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--color-background);
    min-height: 100vh;

    .sub-title {
      font-size: clamp(1.3rem, 1.5rem, 2rem);
      text-align: center;
      color: var(--color-primary);
    }

    .text {
      font-family: var(--font-family-secondary);
      font-size: 20px;
      line-height: 1.8;
      max-width: 75ch;
      margin: 4rem auto 4rem;
    }
  }
  @media screen and (min-width: 1000px) {
    .contact {
      padding: 8rem 7rem 0;
    }
  }
</style>
