---
import { Seo } from 'astro-seo-meta';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ScrollTop from '../components/ScrollTop.vue';

const urbanumUrl = 'https://urbanum.hu/';
const wikipediaUrl =
  'https://hu.wikipedia.org/wiki/T%C3%B6r%C3%B6k_Andr%C3%A1s_(m%C5%B1vel%C5%91d%C3%A9st%C3%B6rt%C3%A9n%C3%A9sz)';
const youtubeUrl = 'https://www.youtube.com/watch?v=Tv79BeYEInQ';
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <Seo title="por és sár | Média" description="My fast astro website" icon="" />
</head>

<Layout>
  <section class="media content">
    <article>
      <Title>Szép volt Budapest?!</Title>
      <h3 class="sub-title">Beszélgetés a Budapesti por és sárról</h3>
      <p class="text">
        2022. június 20-án <a
          href={wikipediaUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
          Török András
        </a> helytörténész, számos Budapestről szóló könyv írója, Gáspár Balázs,
        a Budapesti por és sár antivárosnéző füzet szerzője és Kulcsár Géza, az
        <a href={urbanumUrl} target="_blank" rel="noopener noreferrer">
          Urbanum
        </a> egyik alapítója beszélgetett az Urbanumban a Budapesti por és sár kapcsán
        a főváros múltjáról, jelenéről és jövőjéről; többek között arról, hogy a
        Monarchia korabeli, fokozatosan világvárossá váló Budapesten kik voltak a
        kritikusok és elégedetlenkedők, mennyi igazság volt/van a bírálataikban,
        és hogy mi (volt) szép és mi nem Budapesten.
      </p>

      <div class="video-player"></div>
    </article>
  </section>
  <ScrollTop client:idle />
</Layout>

<style lang="scss" scoped>
  .media {
    padding: 6rem 1.25rem;
    margin: 0 auto;
    background-color: var(--color-background);
    .title {
      color: var(--color-primary);
      font-size: clamp(2rem, 2.2rem, 2.5rem);
      text-align: center;
    }

    .sub-title {
      font-size: clamp(1.3rem, 1.5rem, 2rem);
      text-align: center;
      color: var(--color-primary);
    }

    .text {
      font-family: var(--font-family-secondary);
      color: var(--color-primary);
      font-size: 20px;
      line-height: 1.8;
      max-width: 75ch;
      margin: 4rem auto 4rem;

      a {
        font-weight: 600;
        color: var(--color-primary);
      }
    }

    .video-player {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
    }
  }

  @media screen and (min-width: 1000px) {
    .media {
      padding: 8rem 7rem;
    }
  }
</style>
