---
import Layout from '../layouts/Layout.astro';
import portfolio from '../images/portfolio.webp';
---

<Layout>
  <section>
    <div class="content">
      <div class="image-wrapper">
        <img src={portfolio} alt="portfolio" />
      </div>

      <article>
        <p>
          1989-ben születtem Veszprémben. 2011-ben költöztem Budapestre,
          2014-ben végeztem az ELTE magyar-filozófia szakán. Eleinte
          fényképezőgéppel jártam a fővárost, ebből született például a
          <a href="">Budapesti plakátmagány</a> című sorozat. Budapest történelmére
          és történeteire a Budapest100 önkénteseként kezdtem el tudatosabban figyelni.
          2016-ban a József körút 62., Székely Aladár fotóművész egyik egykori műtermének
          házában, 2017-ben a Döbrentei utca 6-ban, 2019-ben pedig a Torockó utca
          6/b-ben, Szerb Antal egykori lakóházában végeztem helytörténeti kutatást
          és szerveztem programokat.
        </p>

        <p>
          Több cikkben és tanulmányban foglalkoztam a fővárossal és annak
          történelmével: írtam többek között a <a href=""
            >két világháború közötti dunai mentőállomásokról</a
          >, budapesti propaganda-fényképalbumokról (Az 1919. A vörös május
          album, „Akik a városukat felemelték a romokból, egy álmot is építenek”
          – A Rákosi-kor egyetlen budapesti városalbuma), egy elfeledett
          fővárosi fotográfusról, Vajda Manó/Vajda M. Pálról, Robert Capa
          budapesti fényképeiről, a Mai Manó Házról és a Ferihegyi repülőtér
          neves vendégeiről.
        </p>

        <p>
          2019 januárjában hoztam létre és azóta szerkesztem a Por és sár
          oldalt, ahol az ország nevezetes helyeiről szóló régi kritikákat
          gyűjtök. 2021 novemberében jelentettem meg a Budapesti por és sár
          antivárosnéző füzetet, ami a főváros nevezetességeinek Monarchia
          korabeli, hol vicces, hol komoly bírálatait mutatja be. Mindazonáltal
          nem csak Budapestre figyelek. Közzétettem egy lomtalanításon talált –
          képekkel, jegyzetekkel, térképekkel és illusztrációkkal kiegészített –
          1915-ös katonanaplót.
        </p>

        <p>
          2020 óta szerkesztem a Lost in Veszprém oldalt, ahol a város kevésbé
          ismert történeteit gyűjtöm, mint például az Egy veszprémi
          gyógyszerészcsalád huszadik századi története(i) cikkben. A fotóval
          sem csak a főváros kapcsán foglalkozom: jelenleg a kapitalizmus és a
          fotográfia kapcsolatait kutatom, ennek eredményeként jelent meg a
          Kapitalizmuskritika kortárs magyar fotográfusok munkáiban című
          tanulmányom, és mutattam be a Capitalism and the Camera című könyvet a
          hazai közönség számára.
        </p>
      </article>
    </div>
  </section>
</Layout>

<style>
  .content {
    display: grid;
    gap: 3rem;
    place-items: center;
  }

  .image-wrapper {
    width: 350px;
    filter: grayscale(1);
    border-radius: 2rem;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 2rem;
    pointer-events: none;
  }

  p {
    max-width: 75ch;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  p:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  a {
    color: #000;
  }
</style>
