---
import Layout from '../layouts/Layout.astro';
import portfolio from '../images/portfolio.webp';

const facebookUrl = 'https://www.facebook.com/gasparbalazs';
const instagramUrl = 'https://www.instagram.com/zsalabg/';
---

<Layout>
  <section>
    <div class="image-wrapper">
      <img src={portfolio} alt="portfolio" />
    </div>

    <article>
      <div>
        <h2>2014</h2>
        <p>
          Az ELTE magyar-filozófia szakán diplomát szereztem. Eleinte
          fényképezőgéppel jártam a fővárost, ebből született például a
          <a href="">Budapesti plakátmagány</a> című sorozat. Budapest történelmére
          és történeteire a Budapest100 önkénteseként kezdtem el tudatosabban figyelni.
        </p>
      </div>

      <div>
        <h2>2016</h2>
        <p>
          József körút 62., Székely Aladár fotóművész egyik egykori műtermének
          házában.
        </p>
      </div>

      <div>
        <h2>2017</h2>
        <p>
          2017-ben a Döbrentei utca 6-ban, 2019-ben pedig a Torockó utca
          6/b-ben, Szerb Antal egykori lakóházában végeztem helytörténeti
          kutatást és szerveztem programokat.
        </p>
      </div>

      <div>
        <h2>2019</h2>
        <p>
          Torockó utca 6/b-ben, Szerb Antal egykori lakóházában végeztem
          helytörténeti kutatást és szerveztem programokat.
        </p>

        <p>
          Több cikkben és tanulmányban foglalkoztam a fővárossal és annak
          történelmével: írtam többek között a <a href=""
            >két világháború közötti dunai mentőállomásokról</a
          >, budapesti propaganda-fényképalbumokról (<a href=""
            >Az 1919. A vörös május album</a
          >, <a href=""
            >„Akik a városukat felemelték a romokból, egy álmot is építenek”</a
          > – A Rákosi-kor egyetlen budapesti városalbuma), <a href=""
            >egy elfeledett fővárosi fotográfusról, Vajda Manó/Vajda M. Pálról</a
          >, <a href="">Robert Capa</a> budapesti fényképeiről, a <a href=""
            >Mai Manó Házról</a
          > és a <a href="">Ferihegyi repülőtér neves vendégeiről</a>.
        </p>
      </div>

      <div>
        <h2>2019</h2>
        <p>
          Por és sár weboldal létrehozása, ahol az ország nevezetes helyeiről
          szóló régi kritikákat gyűjtök. 2021 novemberében jelentettem meg a <a
            href="">Budapesti por és sár antivárosnéző füzetet</a
          >, ami a főváros nevezetességeinek Monarchia korabeli, hol vicces, hol
          komoly bírálatait mutatja be. Mindazonáltal nem csak Budapestre
          figyelek. Közzétettem egy lomtalanításon talált – képekkel,
          jegyzetekkel, térképekkel és illusztrációkkal kiegészített –
          <a href="">1915-ös katonanaplót</a>.
        </p>
      </div>

      <div>
        <h2>2020</h2>
        <p>
          <a href="">Lost in Veszprém</a> oldal szerkesztője lettem, ahol a város
          kevésbé ismert történeteit gyűjtöm, mint például az <a href=""
            >Egy veszprémi gyógyszerészcsalád huszadik századi története(i)</a
          > cikkben. A fotóval sem csak a főváros kapcsán foglalkozom: jelenleg a
          kapitalizmus és a fotográfia kapcsolatait kutatom, ennek eredményeként
          jelent meg a <a href=""
            >Kapitalizmuskritika kortárs magyar fotográfusok munkáiban</a
          > című tanulmányom, és mutattam be a Capitalism and the Camera című könyvet
          a hazai közönség számára.
        </p>
      </div>

      <div>
        <ul class="social-private">
          <li>
            <a href={facebookUrl} target="_blank" rel="noopener noreferrer"
              >Facebook</a
            >
          </li>
          <li>
            <a href={instagramUrl} target="_blank" rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </article>
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 3rem;
    place-items: center;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
  }

  article h2 {
    color: #d88518;
  }

  .image-wrapper {
    max-width: 320px;
    filter: grayscale(1);
    border-radius: 1rem;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 1rem;
    pointer-events: none;
  }

  p {
    max-width: 75ch;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  p:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
  }

  .social-private {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-private a {
    color: #d88518;
    border-bottom: 2px dashed #d88518;
  }
</style>
