---
import { Seo } from 'astro-seo-meta';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ScrollTop from '../components/ScrollTop.vue';

const tours = [
  {
    name: 'city-tour-1',
  },
  {
    name: 'city-tour-2',
  },
  {
    name: 'city-tour-3',
  },
  {
    name: 'city-tour-4',
  },
];
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <Seo title="por és sár | Séták" description="My fast astro website" icon="" />
</head>

<Layout>
  <section class="city-tour content" id="main">
    <article>
      <Title>Antivárosnéző séta</Title>
      <p class="text">
        Ha kíváncsi vagy, hogy elődeinknek mi nem tetszett és miért nem tetszett
        az 1873 és 1914 között fokozatosan világvárossá váló Budapesten, gyere
        el és ismerd meg az egy-másfél évszázaddal ezelőtti kritikusok és
        elégedetlenkedők véleményét, ahogy gyengéd iróniával, maró gúnnyal vagy
        épp keserű humorral írtak a változásokról és a város új építészeti
        látványosságairól – amelyek ma már Budapest hangulatának és
        városimázsának meghatározó elemei.
      </p>

      <p class="text text--thin">
        Az antivárosnéző sétán a főváros jól ismert helyeit és alkotásait nem a
        megszokott, feltétlen csodálat és kötelező áhítat nevében, vagy sosem
        hallott titkok feltárásának céljából, hanem a korabeli kritika
        szemszögéből mutatom be.
      </p>
    </article>

    <div class="gallery">
      {
        tours.map(tour => {
          return (
            <div class="image-wrapper">
              <img
                src={`/${tour.name}.jpg`}
                alt="Városnéző séta"
                class="image"
                loading="lazy"
              />
            </div>
          );
        })
      }
    </div>
  </section>
  <ScrollTop client:idle />
</Layout>

<style lang="scss" scoped>
  .city-tour {
    width: 100%;
    padding: 8rem 1rem;
    margin: 0 auto;
    background-color: var(--color-background);
    article {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .text {
      font-family: var(--font-family-secondary);
      color: var(--color-primary);
      font-size: clamp(1.1rem, 1.2rem, 1.3rem);
      line-height: 1.7;
      font-weight: 600;
      max-width: 65ch;
      margin: 0 auto;

      &--thin {
        font-weight: 400;
      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      place-content: center;
      width: 100%;
      margin: 0 auto;
      max-width: 50rem;
      gap: 2rem;
      margin-top: 2rem;

      .image-wrapper {
        padding: 1rem;
        border-radius: var(--border-radius-small);
        background-color: var(--color-photo);
        .image {
          border-radius: inherit;
          object-fit: cover;
          aspect-ratio: 1 / 1;
          filter: grayscale(1);
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .city-tour {
      padding: 8rem 7rem;
    }
  }
</style>
