---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <p>
      Ha szeretnéd magánprogramként megrendelni a sétát, írj a
      <a href="mailto:poressar@gmail.com">poressar@gmail.com cimre</a>
      Időtartam: 2–2,5 óra Ár: 2.500 Ft/fő Minimum létszám: 4 fő Sétavezető: Gáspár
      Balázs, a Budapesti por és sár antivárosnéző füzet szerzője
    </p>
  </section>
</Layout>

<style>
  a {
    color: #000;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #000;
  }
</style>
