---
const features = [
  {
    name: 'idézet',
    icon: 'quote-left',
    number: 80,
  },
  {
    name: 'helyszín',
    icon: 'location',
    number: 40,
  },
  {
    name: 'kép',
    icon: 'camera',
    number: 24,
  },
];
---

<section class="features" id="features">
  <h2 class="main-title">Több mint egy füzet</h2>
  <ul class="items">
    {
      features.map(feature => {
        return (
          <li class="feature">
            <img
              src={`/${feature.icon}.svg`}
              class="icon"
              alt={feature.name}
              width="33"
              height="45"
              aria-hidden="true"
            />
            <h3 class="title">{feature.number}</h3>
            <h4 class="sub-title">{feature.name}</h4>
          </li>
        );
      })
    }
  </ul>
</section>

<style lang="scss" scoped>
  .features {
    position: relative;
    padding: 6rem 3.25rem;
    margin: 0 auto;
    background-color: var(--color-background);

    .main-title {
      margin-bottom: 3rem;
    }

    .items {
      display: grid;
      place-items: center;
      gap: 6rem;

      .feature {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 0.5rem;
        gap: 5px;
        max-width: 380px;
        width: 100%;
        border-radius: var(--border-radius-normal);
        cursor: auto;
        isolation: isolate;
        transition: var(--base-transform-transition);

        &:hover {
          transform: scale(1.08);
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--color-features);
          opacity: 0.6;
          border-radius: inherit;
          z-index: -1;
        }

        &:first-of-type,
        &:nth-of-type(2),
        &:last-of-type {
          background-size: cover;
          object-fit: cover;
          background-repeat: no-repeat;
          aspect-ratio: 1/1;
        }

        &:first-of-type {
          background-image: url('/feature-iparmuveszeti-muzeum.jpg');
        }

        &:nth-of-type(2) {
          background-image: url('/feature-bazilika.jpg');
        }

        &:last-of-type {
          background-image: url('/feature-lanchid.jpg');
        }

        .icon {
          margin: 0 auto;
        }

        .title {
          color: #f9f7f5;
          font-size: clamp(2.5rem, 5rem, 7.5rem);
          line-height: 1;
          font-family: var(--font-family-secondary);
        }

        .sub-title {
          font-size: clamp(1rem, 1.5rem, 2rem);
          font-family: var(--font-family-secondary);
          font-weight: 400;
          color: #f9f7f5;
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .features {
      padding: 6rem 7rem 8rem;

      .main-title {
        margin-bottom: 6rem;
      }

      .items {
        gap: 4rem;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
      }
    }
  }
</style>
