---
const facebookUrl = 'https://www.facebook.com/poressar/';
const instagramUrl = 'https://www.instagram.com/poressar/';
---

<footer>
  <div class="copywright-wrapper">
    <div class="copywright">
      <div>Copyright © 2022</div>
      <div class="tech-stack">
        <span class="built">
          Built with <img
            class="icon"
            src="/astro-logo.svg"
            alt="astro logo"
            width="24"
            height="24"
          />
          and <span>❤️</span>
        </span>
        <span class="location"> Budapest - Hungary</span>
      </div>
    </div>
    <div>Minden jog fenntartva</div>
  </div>
  <ul class="social-icons">
    <li class="icon">
      <a href={facebookUrl} target="_blank" rel="noopener noreferrer">
        <img
          src="/facebook-logo.svg"
          alt="facebook"
          title="facebook"
          width="32"
          height="32"
        />
      </a>
    </li>
    <li class="icon">
      <a href={instagramUrl} target="_blank" rel="noopener noreferrer">
        <img
          src="/instagram-logo.svg"
          alt="instagram"
          title="instagram"
          width="32"
          height="32"
        />
      </a>
    </li>
  </ul>
</footer>

<style lang="scss">
  footer {
    bottom: 0;
    left: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem 0.5rem 1.5rem;
    font-size: 14px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-family: 'Lato';
    background-color: var(--color-primary);
    color: #fff;

    .copywright-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .copywright {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .tech-stack {
      position: relative;
      flex-direction: column;
      display: inline-flex;
      gap: 10px;

      .built {
        display: inline-flex;
        align-items: center;
        gap: 5px;
      }
      .built,
      .location {
        position: relative;
        &:before {
          display: none;
          position: absolute;
          content: '';
          height: 20px;
          width: 1px;
          background-color: #fff;
          left: -8px;
          top: 4px;
        }
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        transition: transform 0.25s ease-in;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  @media screen and (min-width: 700px) {
    footer {
      flex-direction: row;
      gap: unset;
      text-align: left;
      padding: 1rem 60px;

      .copywright-wrapper {
        justify-content: flex-start;
      }

      .copywright {
        flex-direction: row;
        gap: 1rem;
      }
      .tech-stack {
        flex-direction: row;
        gap: 1rem;

        .built,
        .location {
          &:before {
            display: block;
          }
        }
      }
    }
  }
</style>
