<section class="hero content">
  <article class="intro-text">
    <h2 class="title">Az antivárosnéző füzet</h2>
    <p class="text">
      „Tudd meg, elődeinknek mi minden nem tetszett hazánkban – gyengéd irónia
      és maró gúny, örökös elégedetlenkedés és folytonos pocskondiázás!”
    </p>
    <a href="#features" class="cta"
      >Tovább <svg
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 38 23"
      >
        <path
          d="M37.325 12.796a1.5 1.5 0 0 0-.03-2.121l-9.679-9.411a1.5 1.5 0 1 0-2.091 2.15l8.604 8.366-8.365 8.604a1.5 1.5 0 0 0 2.15 2.091l9.411-9.68ZM.771 13.75l35.5-.5-.042-3-35.5.5.042 3Z"
        ></path>
      </svg>
    </a>
  </article>
  <div class="jumbotron">
    <div class="image-wrapper page-title">
      <img
        src="/hero-image-opt.jpg"
        class="hero-image"
        alt="por és sár"
        decoding="async"
      />
    </div>
  </div>
</section>

<style lang="scss" scoped>
  .hero {
    position: relative;
    display: grid;
    gap: 2rem;
    background-color: var(--color-background);
    height: min(800px, 100vh);

    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 62ch;
      width: 100%;
      padding: 0 1.25rem;
      margin: 6.25rem auto;
      color: var(--color-primary);

      .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        svg {
          fill: var(--color-cta-font-color);
          width: 30px;
          height: 15px;
        }
      }

      .title {
        position: relative;
        margin-bottom: 0.5rem;
        font-size: clamp(1.5rem, 1.85rem, 2.5rem);

        &:before {
          display: none;
          content: '';
          position: absolute;
          top: -2.3rem;
          left: -2.8rem;
          width: 44px;
          height: 100%;
          background: url('/rectangle-small--yellow.svg') no-repeat;
        }
      }

      .text {
        margin-bottom: 2rem;
        font-family: var(--font-family-secondary);
        font-size: clamp(1.075rem, 1.375rem, 1.575rem);
        line-height: 36px;
      }
    }

    .jumbotron {
      position: relative;
      min-width: 100%;
      height: 100%;
      padding: 0 1.25rem;
      isolation: isolate;

      &:before {
        position: absolute;
        left: 0;
        content: '';
        height: 100%;
        min-width: 100%;
        background: var(--color-hero-gradient);
      }

      .image-wrapper {
        position: relative;
        top: -2rem;
        border-radius: 10px;
        max-width: 650px;
        margin: 0 auto;
        box-shadow: var(--shadow-elevation-high);

        &:before {
          display: none;
          position: absolute;
          content: '';
          bottom: -4rem;
          right: -2.7rem;
          width: 300px;
          height: 300px;
          z-index: 1;
          background: url('/rectangle-grid--gray.svg') no-repeat;
          animation: verticalMovement 5s ease-in infinite backwards;
          will-change: auto;
        }

        @keyframes verticalMovement {
          0%,
          100% {
            transform: translateX(0.5rem);
          }

          50% {
            transform: translateY(0.5rem);
          }
        }

        .hero-image {
          position: relative;
          aspect-ratio: 1.42;
          border-radius: inherit;
          width: 100%;
          object-fit: cover;
          isolation: isolate;
          z-index: 2;
          background-color: #eee;
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .hero {
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      place-items: center;

      .intro-text {
        padding-left: 2rem;
        animation: fade-down 250ms ease-in;

        .title {
          &:before {
            display: block;
          }
        }
      }

      .jumbotron {
        padding: 0;
        &:before {
          display: block;
        }

        .image-wrapper {
          left: -10%;
          top: 50%;
          transform: translateY(-50%);
          animation: opacity 350ms ease-in;

          &:before {
            display: block;
          }
        }
      }
    }
  }
</style>
