<div class="hero">
  <div class="intro-text">
    <h2 class="title">Az antivárosnéző füzet</h2>
    <p class="text">
      „Tudd meg, elődeinknek mi minden nem tetszett hazánkban – gyengéd irónia
      és maró gúny, örökös elégedetlenkedés és folytonos pocskondiázás!”
    </p>
    <a href="/" class="cta">Tovább</a>
  </div>
  <div class="jumbotron">
    <img src="/hero-image.jpg" class="hero-image" alt="por és sár" />
  </div>
</div>

<style lang="scss">
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #fff;
    padding-left: 7rem;
    gap: 2rem;
    height: 100vh;

    .intro-text {
      max-width: 500px;

      .title {
        position: relative;
        margin-bottom: 0.5rem;
        font-size: clamp(1.5rem, 2rem, 2.5rem);
        font-family: var(--font-family-primary);

        &:before {
          content: '';
          position: absolute;
          top: -3rem;
          left: -3rem;
          width: 64px;
          height: 100%;
          background: url('/rectangle-small--gray.svg') no-repeat;
        }
      }

      .text {
        margin-bottom: 2rem;
        font-family: var(--font-family-secondary);
        font-size: clamp(1.075rem, 1.375rem, 1.575rem);
        line-height: 36px;
      }
    }

    .jumbotron {
      position: relative;
      width: 100%;
      height: 100vh;
      isolation: isolate;

      &:before {
        position: absolute;
        left: 0;
        content: '';
        height: 100%;
        min-width: 100%;
        background: linear-gradient(
          180deg,
          rgba(250, 219, 133, 1) 61%,
          #ffffff 85%
        );
      }

      &:after {
        position: absolute;
        content: '';
        bottom: 8rem;
        right: 6.5rem;
        width: 341px;
        height: 348px;
        z-index: 1;
        background: url('/rectangle-grid--gray.svg') no-repeat;
      }

      .hero-image {
        position: relative;
        top: 50%;
        left: -10%;
        transform: translateY(-50%);
        aspect-ratio: 1.42;
        border-radius: 20px;
        isolation: isolate;
        z-index: 2;
        width: clamp(10vw, 50vw, 500px);
      }
    }
  }

  @media screen and (min-width: 700px) {
    .hero {
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
    }
  }
</style>
