---
const facebookUrl = 'https://www.facebook.com/poressar/';
const instagramUrl = 'https://www.instagram.com/poressar/';
---

<main class="introduction" id="main" role="main">
  <h2 class="main-title">por és sár</h2>
  <p class="text">
    „Tudd meg, elődeinknek mi minden nem tetszett hazánkban – gyengéd irónia és
    maró gúny, örökös elégedetlenkedés és folytonos pocskondiázás!” – 2019-ben
    ezzel a mondattal indítottam el a Por és sár nevű<strong>
      <a href={facebookUrl} target="_blank" rel="noopener noreferrer">
        Facebook
      </a>
    </strong>- és
    <strong>
      <a href={instagramUrl} target="_blank" rel="noopener noreferrer">
        Instagram
      </a>
    </strong>-oldalt. A cím Széchenyi István Pesti por és sár című, 1834-ben
    megjelent könyvére utal, a Por és sár oldalon ugyanakkor nem csak a főváros,
    hanem az egész (egykori) ország kis- és nagyvárosainak, nevezetességeinek és
    természeti tájainak kritikája megjelenik.
  </p>
  <p class="text">
    A por és a sár pedig egyszerre a szó szoros értelmében vett valóság, amely
    megkeseríti az emberek életét, illetve a rossz ötleteket, elhibázott
    megvalósításokat és az elmaradottságot megjelenítő szimbólum.
  </p>
  <p class="text">
    A projekt végül kiadvány és séta formájában is formát öltött: 2021-ben
    megjelent a Budapesti por és sár antivárosnéző füzet, 2022 óta pedig
    budapesti antivárosnéző sétán is részt lehet venni.
  </p>
</main>

<style lang="scss">
  .introduction {
    position: relative;
    padding: 10rem 1.25rem;
    background-color: var(--color-secondary);
    content-visibility: auto;

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      background: url('/torn-ripped-paper.svg') no-repeat;
      background-size: cover;
      background-position: top center;
      width: 100%;
      height: 90px;
    }

    &:before {
      top: 0;
      transform: rotate(180deg);
    }

    &:after {
      bottom: 0;
    }

    .text {
      margin: 0 auto;
      font-size: clamp(1.15rem, 1.35rem, 1.55rem);
      line-height: 1.6;
      max-width: 75ch;
      color: var(--color-primary);
    }

    strong {
      a {
        position: relative;
        text-decoration: none;
        padding: 0.2rem;
        font-weight: 600;
        color: var(--color-primary);

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 95%;
            height: 2px;
            background-color: var(--color-primary);
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 250ms ease-in;
            z-index: -1;
          }

          &:hover:after {
            transform: scaleX(1);
          }
      }
    }

    .text + .text {
      margin-top: 1.5rem;
    }
  }

  @media screen and (min-width: 700px) {
    .introduction {
      padding: 8rem 0rem;
    }
  }
</style>
