<section class="introduction">
  <h3 class="main-title">por és sár</h3>
  <p class="text">
    „Tudd meg, elődeinknek mi minden nem tetszett hazánkban – gyengéd irónia és
    maró gúny, örökös elégedetlenkedés és folytonos pocskondiázás!” – 2019-ben
    ezzel a mondattal indítottam el a Por és sár nevű Facebook- és
    Instagram-oldalt. A cím Széchenyi István Pesti por és sár című, 1834-ben
    megjelent könyvére utal, a Por és sár oldalon ugyanakkor nem csak a főváros,
    hanem az egész (egykori) ország kis- és nagyvárosainak, nevezetességeinek és
    természeti tájainak kritikája megjelenik. A por és a sár pedig egyszerre a
    szó szoros értelmében vett valóság, amely megkeseríti az emberek életét,
    illetve a rossz ötleteket, elhibázott megvalósításokat és az elmaradottságot
    megjelenítő szimbólum. A projekt végül kiadvány és séta formájában is formát
    öltött: 2021-ben megjelent a Budapesti por és sár antivárosnéző füzet, 2022
    óta pedig budapesti antivárosnéző sétán is részt lehet venni.
  </p>
</section>

<style lang="scss">
  .introduction {
    max-width: 1210px;
    min-width: 100%;
    padding: 2rem;
    margin: 0 auto;
    background-image: url('torn-paper.jpg'), var(--color-secondary);

    .main-title {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 42px;
      line-height: 52px;
    }

    .text {
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      max-width: 75ch;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 700px) {
    .introduction {
      padding: 3rem 165px;

      .main-title {
        margin-bottom: 4rem;
        font-size: 60px;
      }
    }
  }
</style>
