---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const mainPage = 'Főoldal';

const navItems = [
  {
    name: 'Séták',
    route: 'setak',
  },
  {
    name: 'Média',
    route: 'media',
  },
  {
    name: 'Rólam',
    route: 'rolam',
  },
  {
    name: 'Kapcsolat',
    route: 'kapcsolat',
  },
];
---

<ul class="mobile-menu nav-items" role="list">
  <li class="nav-item" role="listitem">
    <a href="/" class={currentPath === '' ? 'active' : ''}>{mainPage}</a>
  </li>
  {
    navItems.map(item => {
      return (
        <li class="nav-item" role="listitem">
          <a
            class={currentPath === item.route ? 'active' : ''}
            href={`/${item.route}`}
          >
            {item.name}
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="scss">
  .mobile-menu {
    opacity: 1;
    position: absolute;
    inset: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    gap: 2rem;
    background-color: var(--color-navigation);
    backdrop-filter: blur(8px);
    box-shadow: var(--shadow-elevation-low);

    .nav-item {
      a {
        position: relative;
        text-decoration: none;
        font-size: clamp(1.2rem, 1.6rem, 2rem);
        padding: 0.2rem;
        color: var(--color-primary);
        font-family: var(--font-family-secondary);
        transition: var(--base-transform-transition);

        &:hover {
          text-shadow: 0 0 0.65px var(--color-primary),
            0 0 0.65px var(--color-primary);
        }

        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color-primary);
          transform-origin: left;
          transform: scaleX(0);
          transition: var(--base-transform-transition);
          z-index: -1;
        }

        &:hover:after {
          transform: scaleX(1);
        }
      }

      .active {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color-primary);
          transform: scaleX(1);
        }
      }
    }
  }
</style>
