---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const title = 'por és sár';
const mainPage = 'Főoldal';

const navItems = [
  {
    name: 'Séták',
    route: 'setak',
  },
  {
    name: 'Média',
    route: 'media',
  },
  {
    name: 'Rólam',
    route: 'rolam',
  },
  {
    name: 'Kapcsolat',
    route: 'kapcsolat',
  },
];
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const isMobile = () =>
      /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    const hasInterSectionObserver = () => 'IntersectionObserver' in window;

    const headerEffect = () => {
      const header = document.querySelector('.header');
      const target = document.querySelector('.hero');

      const options = {
        rootMargin: '0px',
        threshold: 0.85,
      };

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (!entry.isIntersecting) {
            header.classList.add('header--white');
          } else {
            header.classList.remove('header--white');
          }
        });
      }, options);

      observer.observe(target);
    };

    if (isMobile() || !hasInterSectionObserver()) {
      const header = document.querySelector('.header');
      header.classList.add('header--white');
    } else {
      headerEffect();
    }
  });
</script>

<header class="header">
  <nav role="navigation">
    <h1 class="brand-logo">
      <a href="/">{title}</a>
    </h1>
    <ul class="nav-items" role="list">
      <li class="nav-item" role="listitem">
        <a href="/" class={currentPath === '' ? 'active' : ''}>{mainPage}</a>
      </li>
      {
        navItems.map(item => {
          return (
            <li class="nav-item" role="listitem">
              <a
                class={currentPath === item.route ? 'active' : ''}
                href={`/${item.route}`}
              >
                {item.name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    min-height: 60px;
    padding: 0 1.25rem;
    isolation: isolate;
    z-index: 1;
    transition: background-color, backdrop-filter, box-shadow 150ms ease-in-out;

    &--white {
      background-color: #ffffffe6;
      backdrop-filter: blur(4px);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .brand-logo {
        a {
          font-family: var(--font-family-primary);
          font-size: clamp(1.1rem, 1.9rem, 2.5rem);
          font-weight: 900;
          color: var(--color-primary);
          text-decoration: none;
        }
      }
    }

    .nav-items {
      display: none;

      .nav-item {
        a {
          position: relative;
          text-decoration: none;
          font-size: clamp(1.1rem, 1.2rem, 1.5rem);
          padding: 0.2rem;
          color: var(--color-primary);
          font-family: var(--font-family-secondary);

          &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 250ms ease-in;
            z-index: -1;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }

        .active {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transform: scaleX(1);
            z-index: -1;
          }
        }
      }
    }
  }

  @media screen and (min-width: 700px) {
    .header {
      padding: 0 7rem;

      .nav-items {
        display: flex;
        gap: 2rem;
      }
    }
  }
</style>
