---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const title = 'por és sár';
const mainPage = 'Főoldal';

const navItems = [
  {
    name: 'Séták',
    route: 'setak',
  },
  {
    name: 'Média',
    route: 'media',
  },
  {
    name: 'Rólam',
    route: 'rolam',
  },
  {
    name: 'Kapcsolat',
    route: 'kapcsolat',
  },
];
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const headerEffect = () => {
      const header = document.querySelector('.header');

      if ('IntersectionObserver' in window) {
        const target = document.querySelector('.hero');

        const options = {
          root: null,
          rootMargin: '-20px',
          threshold: 0.75,
        };

        const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              header.classList.remove('header--white');
            } else {
              header.classList.add('header--white');
            }
          });
        }, options);

        observer.observe(target);
      } else {
        header.classList.add('header--white');
      }
    };

    headerEffect();
  });
</script>

<header class="header">
  <nav>
    <h1 class="brand-logo">
      <a href="/">{title}</a>
    </h1>
    <ul class="nav-items">
      <li class="nav-item">
        <a class={currentPath === '' ? 'active' : ''} href="/">{mainPage}</a>
      </li>
      {
        navItems.map(item => {
          return (
            <li class="nav-item">
              <a
                class={currentPath === item.route ? 'active' : ''}
                href={`/${item.route}`}
              >
                {item.name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin-inline: auto;
    min-height: 60px;
    padding: 0 7rem;
    isolation: isolate;
    z-index: 1;
    transition: all 250ms ease-in-out;

    &--white {
      background-color: #ffffffe6;
      backdrop-filter: blur(4px);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .brand-logo {
        a {
          font-family: var(--font-family-primary);
          font-size: 2.5rem;
          font-weight: 900;
          color: var(--color-primary);
          text-decoration: none;
          transition: border linear 0.15s;
        }
      }
    }

    .nav-items {
      display: flex;
      gap: 2rem;

      .nav-item {
        a {
          position: relative;
          text-decoration: none;
          font-size: 1.2rem;
          padding: 0.2rem;
          color: var(--color-primary);
          font-family: var(--font-family-secondary);
        }

        .active {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transform: scaleX(1);
            z-index: -1;
          }
        }
      }
    }
  }
</style>
