---
import MobileMenu from './MobileMenu.astro';
import DarkModeSwitcher from './DarkModeSwitcher.vue';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const title = 'por és sár';
const mainPage = 'Főoldal';

const navItems = [
  {
    name: 'Séták',
    route: 'setak',
  },
  {
    name: 'Média',
    route: 'media',
  },
  {
    name: 'Rólam',
    route: 'rolam',
  },
  // {
  //   name: 'Kapcsolat',
  //   route: 'kapcsolat',
  // },
];
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const isMobile = () =>
      /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    const hasInterSectionObserver = () => 'IntersectionObserver' in window;

    const header = document.querySelector('.header');

    const options = {
      rootMargin: '-40px',
      threshold: 1,
    };

    const headerEffect = () => {
      const target = document.querySelector('.page-title');

      const observer = new IntersectionObserver((entries = [], observer) => {
        entries.forEach(entry => {
          if (!entry.isIntersecting) {
            header.classList.add('header--white');
          } else {
            header.classList.remove('header--white');
          }
        });
      }, options);

      observer.observe(target);
    };

    if (isMobile() || !hasInterSectionObserver()) {
      header.classList.add('header--white');
    } else {
      headerEffect();
    }
  });
</script>

<header class="header">
  <a class="skip-to-content-link" href="#main">
    Ugrás a <strong>por és sár</strong>tartalmához
  </a>
  <nav role="navigation">
    <h1 class="brand-logo">
      <a href="/" rel="home">{title}</a>
    </h1>
    <ul class="nav-items" role="list">
      <li class="nav-item" role="listitem">
        <a href="/" class={currentPath === '' ? 'active' : ''}>{mainPage}</a>
      </li>
      {
        navItems.map(item => {
          return (
            <li class="nav-item" role="listitem">
              <a
                class={currentPath === item.route ? 'active' : ''}
                href={`/${item.route}`}
              >
                {item.name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
  <DarkModeSwitcher client:load />
  <!-- <MobileMenu /> -->
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    max-width: 1440px;
    margin-inline: auto;
    min-height: 60px;
    padding: 0 1.25rem;
    isolation: isolate;
    z-index: 2;
    transition: all 150ms ease-in-out;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .brand-logo {
        margin: auto;
        a {
          font-family: var(--font-family-primary);
          font-size: clamp(1.1rem, 2.2rem, 2.5rem);
          font-weight: 900;
          color: var(--color-primary);
          text-decoration: none;
          transition: font-size 250ms ease-in;
        }
      }
    }

    &--white {
      background-color: var(--color-navigation);
      backdrop-filter: blur(8px);
      box-shadow: var(--shadow-elevation-low);

      nav {
        .brand-logo {
          a {
            font-size: clamp(0.95rem, 1.85rem, 2.25rem);
          }
        }
      }
    }

    .nav-items {
      display: none;

      .nav-item {
        a {
          position: relative;
          text-decoration: none;
          font-size: clamp(1rem, 1.1rem, 1.3rem);
          padding: 0.2rem;
          color: var(--color-primary);
          font-family: var(--font-family-secondary);
          transition: var(--base-transform-transition);

          &:hover {
            text-shadow: 0 0 0.65px var(--color-primary),
              0 0 0.65px var(--color-primary);
          }

          &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transform-origin: left;
            transform: scaleX(0);
            transition: var(--base-transform-transition);
            z-index: -1;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }

        .active {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transform: scaleX(1);
          }
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .header {
      padding: 0 2rem;

      nav {
        .brand-logo {
          margin: unset;
        }
      }

      .nav-items {
        display: flex;
        gap: 2rem;
      }
    }
  }
</style>
