---
const shops = [
  {
    name: 'Írók boltja',
    url: 'https://irokboltja.hu/',
    src: 'irokboltja',
  },
  {
    name: 'Hype and Hyper',
    url: 'https://hypeandhyper.com/',
    src: 'hypeandhyper',
  },
  {
    name: 'ISBN',
    url: 'https://www.isbnbooks.hu/',
    src: 'isbn',
  },
  {
    name: 'Urbanum',
    url: 'https://urbanum.hu/',
    src: 'urbanum',
  },
];
---

<section class="purchase">
  <h2 class="main-title">
    Ezentúl máshogy fogod látni a fővárost és nevezetességeit
  </h2>
  <div class="card">
    <a href="mailto:poressar@gmail.com" class="cta">Írj nekem</a>
    <span class="divider">vagy</span>
    <h3>
      <strong>Vásárold meg</strong><br />
      <span>az alábbi helyek egyikében</span>
    </h3>
    <ul class="shops">
      {
        shops.map(shop => {
          return (
            <li class="shop">
              <a href={shop.url} target="_blank" rel="noopener noreferrer">
                <img
                  src={`/purchase-${shop.src}-logo.jpg`}
                  alt={shop.name}
                  loading="lazy"
                />
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<style lang="scss">
  .purchase {
    position: relative;
    min-width: 100%;
    padding: 2rem;
    margin: 0 auto;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem 3.5rem;
      border-radius: 10px;
      gap: 2rem;
      max-width: 525px;
      width: 100%;
      background-color: var(--color-secondary);

      h3 {
        text-align: center;
        font-family: var(--font-family-secondary);

        strong {
          font-size: 22px;
        }

        span {
          font-size: 16px;
          font-weight: 400;
        }
      }

      .shops {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      .divider {
        position: relative;
        font-family: var(--font-family-secondary);
        font-size: 22px;
        line-height: 34px;
        text-align: center;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          width: 150px;
          height: 1px;
          background-color: var(--color-primary);
        }

        &:before {
          left: 5rem;
          top: 50%;
          transform: translateY(-50%);
        }

        &:after {
          right: 5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .cta {
        min-width: 100%;
        font-size: clamp(1.3rem, 1.8rem, 2rem);
      }
    }
  }

  @media screen and (min-width: 700px) {
    .purchase {
      padding: 7rem;
    }
  }
</style>
