<div class="scroll-top">
  <img src="/arrow-top.svg" alt="Back to top" />
</div>

<style lang="scss">
  .scroll-top {
    display: grid;
    place-items: center;
    background-color: var(--color-primary);
    width: 60px;
    height: 60px;
    user-select: none;
    position: fixed;
    bottom: 160px;
    left: 60px;
  }
</style>
