<section class="testimonials">
  <h2 class="main-title">A füzetről írták</h2>
  <div class="quote">
    <p class="text">
      Érdekes szembesülni azzal, hogy a Budapestet a világ egyik legszebb
      fővárosává tévő épületek mennyi vitát és mennyi vitriolos megjegyzést
      váltottak ki nem csak a szakértőkből, újságírókból, de nagy íróinkból is.
    </p>
    <div class="author">
      <img
        src="/karafiath-orsolya.jpeg"
        alt="Karafiáth Orsolya"
        class="profile"
        width="80"
        height="80"
        alt="name"
      />
      <span class="name">Karafiath Orsolya</span>
      <span class="position">Magyar Narancs</span>
    </div>
  </div>
</section>

<style lang="scss">
  .testimonials {
    max-width: 1210px;
    min-width: 100%;
    padding: 2rem;
    margin: 0 auto;

    .main-title {
      margin-bottom: 4rem;
      text-align: center;
      font-size: 42px;
      line-height: 52px;
      font-weight: 900;
    }

    .quote {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      &:before {
        position: absolute;
        content: '”';
        font-family: var(--font-family-primary);
        font-size: 10rem;
        font-weight: 700;
        line-height: 1;
        left: 50%;
        top: -15%;
        transform: translateX(-50%);
        color: var(--color-secondary);
      }
    }

    .text {
      margin-bottom: 1rem;
      font-size: 28px;
      line-height: 40px;
      font-weight: 300;
    }

    .author {
      align-self: flex-end;
      display: grid;
      grid-template-columns: 1fr;
      font-family: var(--font-family-secondary);

      .image-wrapper {
        margin-bottom: 5px;
        width: 80px;
        height: 80px;
      }

      .profile {
        border-radius: 50%;
        filter: grayscale(0.95);
        background-color: var(--color-skeleton);
        user-select: none;
      }

      .name {
        font-size: 28px;
        line-height: 32px;
        font-weight: 900;
      }

      .position {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 16px;
        padding-left: 35px;

        &:before {
          position: absolute;
          content: '';
          width: 20px;
          height: 2px;
          left: 0;
          background-color: var(--color-primary);
        }
      }
    }
  }

  @media screen and (min-width: 700px) {
    .testimonials {
      padding: 7rem 165px;

      .main-title {
        margin-bottom: 4rem;
        font-size: 60px;
      }

      .quote {
        &:before {
          left: -3rem;
        }
      }
    }
  }
</style>
