<h2 class="title page-title">
  <slot />
</h2>

<style lang="scss" scoped>
  .title {
    color: var(--color-primary);
    font-size: clamp(2rem, 2.8rem, 3.5rem);
    text-align: center;
  }
</style>
