<h2 class="title page-title">
  <slot />
</h2>

<style lang="scss" scoped>
  .title {
    color: var(--color-primary);
    font-size: clamp(1.9rem, 2.6rem, 3.3rem);
    text-align: center;
  }
</style>
