---
import '../styles/reset.css';
import '../styles/global.css';
---

<html lang="hu">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Author: Gáspár Balázs, por és sár" />
  <title>Por és sár</title>

  <main>
    <slot />
  </main>

  <style lang="scss">
    main {
      width: min(100%, 1440px);
      margin-inline: auto;
      background-color: #fff;
    }
  </style>


</html>
