---
import '../styles/reset.css';
import '../styles/global.css';

import Nav from '../components/Nav.vue';
import Footer from '../components/Footer.astro';
---

<html lang="hu">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />

  <script>
    const body = document.querySelector('body');
    const isStorage = typeof localStorage !== 'undefined';
    const isSavedStorage = localStorage.getItem('dark');

    const theme = (() => {
      if (isStorage && isSavedStorage) {
        return JSON.parse(isSavedStorage);
      }

      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        localStorage.setItem('dark', true);
        return true;
      }
    })();

    if (theme) {
      body.classList.add('dark');
    } else {
      body.classList.remove('dark');
    }
  </script>

  <div class="layout">
    <Nav client:load />
    <slot />
    <Footer />
  </div>

  <style is:global lang="scss">
    .layout {
      min-height: 100vh;
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
    }
    .main-title {
      margin-bottom: 5rem;
      text-align: center;
      color: var(--color-primary);
      font-size: clamp(1.5rem, 2.5rem, 3rem);
    }

    a:focus {
      outline: 1px dashed var(--color-primary);
      border-radius: 0.2rem;
    }
  </style>


</html>
