---
import '../styles/reset.css';
import '../styles/global.css';

import Nav from '../components/Nav.vue';
import Footer from '../components/Footer.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<html lang="hu">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />

  <script>
    const isStorage = typeof localStorage !== 'undefined';
    const isSavedStorage = localStorage.getItem('dark');

    const theme = (() => {
      if (isStorage && isSavedStorage) {
        return JSON.parse(isSavedStorage);
      }

      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        localStorage.setItem('dark', JSON.stringify(true));
        return true;
      }
    })();

    if (theme) {
      document.querySelector('body').classList.add('dark');
    } else {
      document.querySelector('body').classList.remove('dark');
    }
  </script>

  <div class="layout">
    <Nav client:load />
    <slot />
    <Footer />
  </div>

  <style lang="scss">
    .layout {
      min-height: 100vh;
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
    }
  </style>


</html>
