---
import '../styles/reset.css';
import '../styles/global.css';
---

<html lang="hu">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Author: Gáspár Balázs, por és sár" />
  <title>Por és sár</title>
  <head>
    <script>
      const html = document.querySelector("html");
      const isStorage = typeof localStorage !== 'undefined';
      const isSavedStorage = localStorage.getItem('dark')

      const theme = (() => {
        if (
          isStorage && isSavedStorage
        ) {
          return JSON.parse(isSavedStorage);
        }

        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          localStorage.setItem('dark', true);
          return true;
        }
      })();

    if (theme) {
      html.classList.add('dark');
    } else {
      html.classList.remove('dark');
    }
    </script>
  </head>

  <div class="layout">
    <slot />
  </div>

  <style is:global lang="scss">
    .layout {
      min-height: 100vh;
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
    }
    .main-title {
      margin-bottom: 5rem;
      text-align: center;
      color: var(--color-primary);
      font-size: clamp(1.5rem, 2.5rem, 3rem);
    }

    a:focus {
      outline: 1px dashed var(--color-primary);
      border-radius: 0.2rem;
    }
  </style>


</html>
