<html lang="hu">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Author: Gáspár Balázs, por és sár" />
  <title>Por és sár</title>

  <main class="layout" role="main">
    <slot />
  </main>

  <style is:global lang="scss">
    .layout {
      min-height: 100vh;
      max-width: 1440px;
      width: 100%;
      background-color: #fff;
    }
    .main-title {
      margin-bottom: 5rem;
      text-align: center;
      color: var(--color-primary);
      font-size: clamp(1.5rem, 2.5rem, 3rem);
      user-select: none;
    }

    a:focus {
      outline: 1px dashed var(--color-primary);
      border-radius: 0.2rem;
    }
  </style>


</html>
